.homeHeader {
  height: 100%;
  width: 100%;

  padding: 0 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h2 {
    margin-top: 64px;
  }
}

.homeMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 124px;
  padding: 0 120px;

  .booksGrid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    // gap: 24px;
  }
}
