.navbar {
  height: 10vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--bg-primary);

  .navbarMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbarLoginIcon {
      font-size: 2rem;
    }

    .menuLoginBlock {
      display: flex;
      flex-direction: column;

      margin-left: 14px;

      .menuTitle {
      }

      .menuSubtitle {
        border: none;
        padding: 2px 0;
        cursor: pointer;

        background: var(--bg-primary);
        text-decoration: underline;
      }
    }

    .menuAdminBlock {
      display: flex;
      align-items: center;

      margin-left: 24px;

      .adminIcon {
        font-size: 2rem;
      }

      .menuTitle {
        text-align: center;
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .navbar {
    .navbarMenu {
      .menuLoginBlock {
        text-align: center;

        .menuTitle {
          font-size: 0.9rem;
        }

        .menuSubtitle {
          font-size: 0.8rem;
        }
      }

      .menuAdminBlock {
        .adminIcon {
          font-size: 2rem;
          margin: 0 4px;
        }

        .menuTitle {
          display: none;
        }
      }
    }
  }
}
